.heroes{
  display: inline-block;

  span,button{
    display: block;
    margin: 0.3em;
    cursor: pointer;

    .id,.name{
      display: inline-block;
      margin: 0;
      max-height: 35px;
    }

    .id{
      background: #673ab7;
      color: white;
      border-radius: 5px 0 0px 5px;
      padding: 7.7px 7.7px 8.1px 7.7px;
    }

    .name{
      background: rgba(0,0,0,.03);
      color: rgba(0,0,0,.54);
      width: 8em;
      border-radius: 0px 5px 5px 0px;
    }

    .selected{
      background: rgba(40, 69, 250, 0.67);
      color: white;
    }
  }

}
